
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: calc(0.5);
}
.banner2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: calc(0.5);
}
.banner3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: calc(0.5);
}

@media (max-width: 640px) { 
    .luxury-content{
        font-size: 45px;
    }
 }